---
import type { TransitionAnimationPair, TransitionDirectionalAnimations } from 'astro';
import dayjs from 'dayjs';

const easeOutQuint = 'cubic-bezier(0.22, 1, 0.36, 1)';

const animate: TransitionAnimationPair = {
  old: {
    name: 'astroFadeOut',
    duration: '120ms',
    easing: easeOutQuint,
    fillMode: 'both',
  },
  new: {
    name: 'astroFadeIn',
    duration: '180ms',
    easing: easeOutQuint,
    fillMode: 'both',
  },
};

const fade: TransitionDirectionalAnimations = {
  forwards: animate,
  backwards: animate,
};

export type Props = {
  single: boolean;
  url: string;
  date: string;
  title: string;
};

const { single, url, date, title } = Astro.props;

const d = dayjs(date);
---

<style>
  .title {
    @apply leading-normal font-normal;
    font-size: 1.625rem;

    @screen md {
      font-size: 1.875rem;
    }
  }
</style>

<article>
  <header class="text-center" transition:name={`hero-${url}`} transition:animate={fade}>
    {
      single ? (
        <h1 class="title">{title}</h1>
      ) : (
        <h2 class="title">
          <a class="block text-secondary-500 no-underline hover:text-primary-500" href={url}>
            {title}
          </a>
        </h2>
      )
    }

    <p class="mt-4 text-xs md:text-sm">
      Published{' '}
      <time datetime={d.format('YYYY-MM-DD')}>
        {d.format('MMMM DD, YYYY')}
      </time>
    </p>
  </header>

  <slot />
</article>
