---
import Article from '../components/Article.astro';
import Pagination from '../components/Pagination.astro';
import { site } from '../config';
import type { MarkdownPostData } from '../types';
import RootLayout from './RootLayout.astro';

export type Props = {
  posts: MarkdownPostData[];
  total: number;
  page: number;
  previous: string | null;
  next: string | null;
};

const { posts, total, page, previous, next } = Astro.props;
---

<RootLayout
  type="home"
  title={`${site.title} - ${site.description}`}
  description={site.description}
>
  <div class="container">
    {
      posts.slice(0, site.pagination).map((post, index) => (
        <>
          {index > 0 && <div class="mt-32" />}
          <Article
            single={false}
            url={post.url!}
            date={post.frontmatter.date}
            title={post.frontmatter.title}
          >
            <p class="mt-6">{post.frontmatter.excerpt}</p>
          </Article>
        </>
      ))
    }
  </div>

  <div class="my-32 container">
    <Pagination total={total} page={page} previous={previous} next={next} />
  </div>
</RootLayout>
