---
import '@fontsource/caveat';
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/Footer.astro';
import { Header } from '../components/Header';
import { site } from '../config';

export type Props = {
  type: 'home' | 'article' | '404';
  title: string;
  description: string;
  image?: string;
};

const { type, title, description, image = '/ogp.png' } = Astro.props;
---

<!DOCTYPE html>
<html lang={site.lang}>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    {
      type === '404' ? (
        <meta name="robots" content="noindex, nofollow" />
      ) : (
        <meta name="robots" content="index, follow" />
      )
    }
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />
    <meta name="twitter:site" content={`@${site.social.twitter}`} />
    <meta name="twitter:creator" content={`@${site.social.twitter}`} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content={Astro.url} />
    <meta name="theme-color" content="#fff" />
    <link rel="canonical" href={Astro.request.url} />
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />
    <link rel="alternate" type="application/rss+xml" title="blog.wadackel.me" href="/index.xml" />
    <title>{title}</title>

    <ViewTransitions />

    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      src={`https://www.googletagmanager.com/gtag/js?id=${site.trackingId}`}
    ></script>
    <script type="text/partytown" define:vars={{ trackingId: site.trackingId }}>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', trackingId);
    </script>
  </head>
  <body>
    <div class="relative z-20 overflow-hidden bg-white mb-footer shadow-lg">
      <Header client:load home={type === 'home'} />

      <main>
        <slot />
      </main>
    </div>

    <div class="fixed bottom-0 inset-x-0 z-10 w-full h-footer">
      <Footer />
    </div>
  </body>
</html>
